.additional-product {
  padding-bottom: 35px;
}

.additional-product__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  padding-left: 20px;
  margin-top: 28px;
  margin-bottom: 35px;

  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 16px;
    width: calc(100% - 263px);
    height: 0;
    border: 1px solid #68B738;
  }
}

.additional-product__list {
  margin-bottom: 39px;
}

.additional-product__gift {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #68B738;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  min-height: 289px;
}

.additional-product__text {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
}
