.advantage {
  margin-bottom: 22px;
}

.advantage__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $black;
  margin-top: 7px;
  margin-bottom: 38px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  @media (min-width: $desktop) {
    //margin-bottom: 40px;
    margin-top: 72px;
    //margin-bottom: 0;
  }
}

.advantage__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantage__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    flex-direction: column;
    align-items: flex-start;
    min-height: 230px;
    flex-basis: 45.5%;
    padding-left: 0;
    margin-bottom: 35px;
    margin-top: 52px;
  }

  @media (min-width: $desktop) {
    flex-basis: 20%;
    margin-bottom: 0;
  }
}

.advantage__icon {
  position: relative;

  &::before {
    content: " ";
    display: table;
    width: 60px;
    height: 60px;
    background-color: $main-green;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet) {
      width: 80px;
      height: 80px;
      //margin-top: 40px;
    }
  }

  @media (min-width: $tablet) {
    &:nth-child(1)::after {
      content: "1";
      left: 118px;
    }

    &:nth-child(2)::after {
      content: "2";
      left: 111px;
    }

    &:nth-child(3)::after {
      content: "3";
      left: 114px;
    }

    &:nth-child(4)::after {
      content: "4";
      left: 113px;
    }
  }

  &::after {
    display: block;
    position: absolute;
    top: -40px;
    z-index: -1;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    color: $grey;
  }

  &--foliage {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
        background-size: 50px auto;
      }
    }
  }

  &--water {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/advantage-powder@2x.png");
        background-size: 50px auto;
      }
    }
  }

  &--cutlery {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/advantage-dining@2x.png");
        background-size: 50px auto;
      }
    }
  }

  &--clock {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/advantage-clock@2x.png");
        background-size: 50px auto;
      }
    }
  }
}

.advantage__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    color: $dark-grey;
    margin-left: 0;
    margin-top: 32px;
    width: 245px;
  }
}
