.advantage {
  margin-bottom: 42px;
}

.advantage__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $black;
  margin-top: 27px;
  margin-bottom: 38px;
}

.advantage__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantage__item {
  padding-left: 80px;

  @media (min-width: $tablet) {
    width: 230px;
    padding-left: 0;
    padding-top: 151px;
    //flex-flow: 0;
  }
}

.advantage__icon {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: -3px;
    left: 0;
    background-color: $main-green;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet) {
      width: 80px;
      height: 80px;
      top: 40px;
    }
  }

  &--foliage {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");
    }
  }

  &--water {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");
    }
  }

  &--cutlery {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");
    }
  }

  &--clock {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");
    }
  }
}

.advantage__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 26px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    color: $dark-grey;
  }
}
