.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 0;

  //width: 100%;
  //min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;

  border: none;

  background-color: $main-green;
  color: $white;

  @media (min-width: $tablet) {
    //width: 244px;
    //min-height: 54px;
  }

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active .button__text {
    opacity: 0.3;
  }

  &--choose-program {
    font-size: 14px;
    line-height: 18px;

    @media (min-width: $tablet) {
      font-size: 20px;
      width: 244px;
    }
  }

  &--show-all {
    background-color: $grey;
    color: $dark-grey;

    &:hover,
    &:focus {
      background-color: #ebebeb;
    }
  }
}
