.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 0px;

  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;

  border: none;

  background-color: #68b738;
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active .button--text {
    opacity: 0.3;
  }

  &--choose-program {
    font-size: 14px;
    line-height: 18px;
  }

  &--show-all {
    background-color: #f2f2f2;
    color: #444444;

    &:hover,
    &:focus {
      background-color: #ebebeb;
    }
  }
}
