.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $black;

  margin-top: 27px;
  margin-bottom: 41px;
}
