.catalog {}

.catalog__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;

  margin-top: 27px;
  margin-bottom: 41px;
}

.catalog__list {}
