.contact {
  padding-top: 28px;
  //padding-bottom: 22px;
  background-color: #f2f2f2;

  &--main {
    background-color: $white;
  }
}

.contact__wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 22px;
}

.contact__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  color: #111111;

  flex-basis: 50%;
  margin: 0;
}

.contact__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $dark-grey;

  flex-basis: 50%;
  margin: 0;
}

.contact__map {
  max-height: 400px;
}
