.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey;

  path,
  circle {
    fill: #666666;
  }

  &:hover,
  &:focus {
    path,
    circle {
      fill: $main-green;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &:not(:last-child) {
    margin-right: 24px;
  }
}
