.form {}

.form__fieldset {
  border: none;
  padding: 0;
  margin-bottom: 27px;
  //padding-bottom: 24px;

  &--underline {
    border-bottom: 1px solid #D9D9D9;
  }
}

.form__fieldset-legend {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  padding-left: 20px;
  margin-bottom: 34px;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 24px;
  }
}

.form__label {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  margin-right: 14px;
  white-space: nowrap;

  /* special_dark-grey */
  color: #444444;

  position: relative;

  &--radio {
    color: #222222;
    margin-right: 0;
    padding-left: 46px;
    margin-bottom: 20px;

    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      border: 1px solid #CDCDCD;
      box-sizing: border-box;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: -5px;
    }
  }

  &--checkbox {
    color: #000000;
    margin-right: 0;
    padding-left: 46px;
    margin-bottom: 24px;

    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      border: 1px solid #CDCDCD;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: -5px;
    }
  }
}

.form__text {
  flex-grow: 1;
  padding: 16px 15px 14px;

  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  border-radius: 0;

  &::placeholder {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;

    /* special_dark-grey */
    color: #444444;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.form__legend {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.form__textarea {
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  border-radius: 0;
  padding-top: 13px;
  padding-left: 12px;
  padding-right: 10px;
  resize: none;
  height: 150px;

  &::placeholder {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    /* special_dark-grey */
    color: #444444;
  }
}

.form__radio{
  &:checked + .form__label--radio {
    &::after {
      content: "";
      display: block;
      width: 13.5px;
      height: 13.5px;
      background-color: #68B738;
      border-radius: 50%;
      position: absolute;
      left: 8px;
      top: 3px;
    }
  }
}

.form__checkbox {
  &:checked + .form__label--checkbox {
    &::after {
      content: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' width='18' height='14' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 21.1 15.5' style='enable-background:new 0 0 21.1 15.5;' xml:space='preserve'%3E%3Cpolygon fill='%2368B738' points='20.1,0 7.7,13.3 1,6.1 0,7.2 7.6,15.4 7.7,15.5 21,1.2 21.1,1.1 '/%3E%3C/svg%3E");
      display: block;
      width: 18px;
      height: 14px;
      position: absolute;
      left: 6px;
      top: 0;
    }
  }
}
