.live-example {
  background-color: #eaeaea;
  padding-top: 27px;
}

.live-example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  color: $black;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.live-example__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* special_dark-grey */

  color: $dark-grey;

  padding-right: 1px;
  margin-top: 33px;
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.live-example__achievement {
  margin-bottom: 34px;

  @media (min-width: $tablet) {
    width: 50%;
  }
}

.live-example__cost {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  color: $black;
  margin-top: 0;
  margin-bottom: 36px;

  br {
    display: none;

    @media (min-width: $tablet) {
      display: inline;
    }
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}
