.page-header {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }

  &--main-page::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 302px;
    z-index: -1;
    background-color: $second-green;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    bottom: -302px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: 320px auto;
    }

    @media (min-width: $tablet) {
      content: none;
    }

    @media (min-width: $desktop) {
      content: "";
      width: 50vw;
      height: 696px;
      right: 0;
      top: 0;
      background-image: url("../img/index-background-desktop@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__logo-wrap {
  display: flex;
  padding: 11px 0 14px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  //border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet) {
    border-bottom: none;
    padding-top: 25px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop) {
    padding-top: 54px;
  }
}

.page-header__logo {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__toggle {
  display: none;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  padding: 0;
  background-image: url("../img/icon-close.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @media (min-width: $tablet) {
    display: none;
  }
}
