.page-footer {
  background-color: #F2F2F2;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 32px;
  border-bottom: 1px solid #D9D9D9;
}

.page-footer__link {

  path {
    fill: #111111;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 21px;
  border-bottom: 1px solid #D9D9D9;
}

.page-footer__copyright {
  padding-top: 22px;
  padding-bottom: 2px;
}
