.page-header {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__logo-wrap {
  display: flex;
  padding: 12px 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  //border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet) {
    border-bottom: none;
    padding-top: 24px;
    //padding-left: 30px;
  }
}

.page-header__logo {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__toggle {
  display: none;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  padding: 0;
  background-image: url("../img/icon-close.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @media (min-width: $tablet) {
    display: none;
  }
}
