.product-more {
  list-style: none;
  padding-left: 0;
}

.product-more__item {
  border-bottom: 2px solid #cdcdcd;
  padding-top: 13px;
  padding-bottom: 18px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  &:first-child {
    border-top: 2px solid #cdcdcd;
  }

  @media (min-width: $tablet) {
    padding-top: 25px;
    padding-bottom: 27px;
    padding-left: 38px;
    padding-right: 37px;
    border-left: 2px solid #cdcdcd;
    border-right: 2px solid #cdcdcd;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
  }
}

.product-more__wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop) {
    flex-grow: 1;
    margin-bottom: 0;
  }
}

.product-more__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin-top: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.product-more__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    width: 286px;
  }
}

.product-more__option,
.product-more__value {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $dark-grey;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-more__value {
  @media (min-width: $tablet) {
    width: 94px;
    text-align: right;
  }
}

.product-more__button {
  width: 100%;
  height: 40px;

  @media (min-width: $desktop) {
    width: 244px;
    margin-left: 40px;
  }
}
