.product {
  list-style: none;
  //margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.product__item {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 24px;

  &:first-child {
    border-top: 1px solid #ebebeb;

    @media (min-width: $tablet) {
      border-top: none;
    }
  }

  @media (min-width: $tablet) {
    flex-basis: 50%;
    border: none;
    padding-bottom: 0;

    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 16px;
  }

  @media (min-width: $desktop) {
    flex-basis: 25%;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
  }
}

.product__card {
  position: relative;

  @media (min-width: $tablet) {
    //background-color: $grey;
    padding-bottom: 39px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 430px;
      background-color: $grey;
      z-index: -1;
    }
  }
}

.product__wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;

  @media (min-width: $tablet) {
    flex-direction: column;
  }
}

.product__img-link {
  display: block;
  height: 144px;

  @media (min-width: $tablet) {
    //height: 202px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 256px;
    margin-top: 30px;
  }
}

.product__info {
  flex-grow: 1;

  @media (min-width: $tablet) {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.product__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;

  margin-top: 20px;
  margin-bottom: 14px;

  max-width: 80px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 10px;
    max-width: 150px;
  }
}

.product__description {
  width: 100%;

  @media (min-width: $tablet) {
    margin-bottom: 34px;
  }
}

.product__button-wrapper {
  @media (min-width: $tablet) {
    margin-left: 36px;
    margin-right: 36px;
  }
}

.product__button {
  width: 100%;
  min-height: 40px;
}
