.product {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product__item {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 25px;

  &:first-child {
    border-top: 1px solid #EBEBEB;
  }
}

.product__wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.product__img-link {
  display: block;
  height: 144px;
}

.product__image {}

.product__info {
  flex-grow: 1;
}

.product__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;

  margin-top: 19px;
}

.product__description {
  width: 100%;
}

.product__button {

}

