.program-selection {}

.program-selection__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-top: 27px;
  margin-bottom: 37px;
}

.program-selection__text {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;

  margin-top: 0;
  margin-bottom: 39px;
}

.program-selection__form {}
