.program__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @media (min-width: $desktop) {
    flex-direction: row;
  }
}

.program__item {
  background-color: $grey;
  padding: 20px;
  margin-bottom: 20px;

  position: relative;

  @media (min-width: $tablet) {
    padding-top: 77px;
    padding-left: 52px;
    //padding-right: 62px;
    //padding-right: 279px;
    padding-bottom: 53px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop) {
    flex-basis: 50%;
    margin-bottom: 0;
    padding-left: 52px;
    padding-top: 52px;
    padding-bottom: 55px;

    &:not(:last-child) {
      margin-right: 80px;
    }
  }

  &--weight-loss,
  &--weight-gain {
    &::before {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 24px;
      left: 22px;
      background-color: $main-green;
      border-radius: 50%;

      @media (min-width: $tablet) {
        width: 200px;
        height: 200px;
        left: auto;
        right: 62px;
        top: 92px;
      }

      @media (min-width: $desktop) {
        width: 100px;
        height: 100px;
        left: 52px;
        right: auto;
        top: 47px;
      }
    }
  }

  &--weight-loss {
    @media (min-width: $tablet) {
      padding-right: 279px;
    }

    @media (min-width: $desktop) {
      padding-right: 52px;
    }

    &::after {
      content: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' width='36' height='50' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 70 97' style='enable-background:new 0 0 70 97;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M54.8,0c-0.1,0-0.3,0-0.4,0c-0.7,0.4-1.1,0.9-1.4,1.6c-0.6,1.1-1,2.3-1.3,3.4c-0.2,0.8-0.7,1.2-1.5,1.3 c-2.3,0.4-4,1.7-5.2,3.7c-0.7,1.3-1.3,2.6-1.8,3.9c-1.4,3.7-2.5,7.5-3.8,11.2C38.7,27,38.6,27,36.7,27c-2.3,0-2.1-0.4-2.1,2.1 c0,0.8,0.2,1.2,1.1,1.2c0.3,0,0.7-0.1,0.8,0.2c0.1,0.3-0.2,0.5-0.4,0.7c-1.2,1.3-2.7,2-4.3,2.4c-1.9,0.5-3.8,0.9-5.7,1.5 c-4.7,1.6-9.1,3.8-12.6,7.6c-2.1,2.3-3.5,5-4.7,7.8C5,59.2,3.2,68.3,1.8,77.5c-0.6,4.3-1.1,8.6-1.5,13C0.2,92.7,0,94.8,0,97 c11.1,0,22.2,0,33.3,0c0.1-0.5-0.1-0.9-0.2-1.3c-0.7-1.8-2.1-2.7-3.8-3.1c-0.7-0.2-0.8-0.4-0.4-0.9c0.7-0.9,1.2-2,1.6-3.1 c1.6-4.8,2.3-9.8,3.1-14.8C34.2,70,35.1,66.4,37,63c1.5-2.5,3.3-4.6,5.6-6.4c0.8-0.6,0.9-0.6,1,0.4c0.1,0.7,0.1,1.4,0.2,2.2 c0.3,4.7,0.3,9.5-0.2,14.2c-0.3,3.7-0.5,7.4-0.2,11c0.4,4.3,1.2,8.4,2.2,12.6c4.4,0,8.9,0,13.3,0c-0.3-2.2-2.1-4-4.2-4.4 c-1.3-0.2-2.5-0.1-3.8,0.2c-0.6,0.1-0.8,0-0.9-0.6c-0.4-5.3-0.1-10.6,1-15.8c1.3-6,2.4-12.1,3.1-18.2c0.3-2.5,1-4.8,2.3-7 c1.2-2.1,2.2-4.3,3.4-6.5c0.9-1.7,1.1-3.4,0.4-5.2c-0.3-0.7-0.5-1.4-0.9-2.1c-1-2-2-3.9-2.9-5.9c-0.5-1-0.4-1.1,0.7-1.1 c1.6,0,1.6,0,1.7-1.6c0-0.2,0-0.4,0-0.7c0-0.7-0.3-1.1-1-1c-0.5,0-1,0-1.5,0c-0.7,0-0.9-0.3-0.7-1c0.6-2.3,2.8-4.1,5.1-4.4 c2.2-0.3,4.4,0,6.6,0.4c0.6,0.1,1,0,1.3-0.6c0.4-1,0.8-2,1.3-3c0.2-0.4,0.2-0.8-0.1-1.1C66.6,13.2,63.1,9.4,58.4,7 c-0.5-0.3-0.8-0.6-0.9-1.1c-0.3-1.4-0.7-2.8-1.3-4.2C55.9,1,55.6,0.4,54.8,0z'/%3E%3C/g%3E%3C/svg%3E");
      display: block;
      position: absolute;
      top: 21px;
      left: 29px;

      @media (min-width: $tablet) {
        content: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' width='140' height='192' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 70 97' style='enable-background:new 0 0 70 97;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M54.8,0c-0.1,0-0.3,0-0.4,0c-0.7,0.4-1.1,0.9-1.4,1.6c-0.6,1.1-1,2.3-1.3,3.4c-0.2,0.8-0.7,1.2-1.5,1.3 c-2.3,0.4-4,1.7-5.2,3.7c-0.7,1.3-1.3,2.6-1.8,3.9c-1.4,3.7-2.5,7.5-3.8,11.2C38.7,27,38.6,27,36.7,27c-2.3,0-2.1-0.4-2.1,2.1 c0,0.8,0.2,1.2,1.1,1.2c0.3,0,0.7-0.1,0.8,0.2c0.1,0.3-0.2,0.5-0.4,0.7c-1.2,1.3-2.7,2-4.3,2.4c-1.9,0.5-3.8,0.9-5.7,1.5 c-4.7,1.6-9.1,3.8-12.6,7.6c-2.1,2.3-3.5,5-4.7,7.8C5,59.2,3.2,68.3,1.8,77.5c-0.6,4.3-1.1,8.6-1.5,13C0.2,92.7,0,94.8,0,97 c11.1,0,22.2,0,33.3,0c0.1-0.5-0.1-0.9-0.2-1.3c-0.7-1.8-2.1-2.7-3.8-3.1c-0.7-0.2-0.8-0.4-0.4-0.9c0.7-0.9,1.2-2,1.6-3.1 c1.6-4.8,2.3-9.8,3.1-14.8C34.2,70,35.1,66.4,37,63c1.5-2.5,3.3-4.6,5.6-6.4c0.8-0.6,0.9-0.6,1,0.4c0.1,0.7,0.1,1.4,0.2,2.2 c0.3,4.7,0.3,9.5-0.2,14.2c-0.3,3.7-0.5,7.4-0.2,11c0.4,4.3,1.2,8.4,2.2,12.6c4.4,0,8.9,0,13.3,0c-0.3-2.2-2.1-4-4.2-4.4 c-1.3-0.2-2.5-0.1-3.8,0.2c-0.6,0.1-0.8,0-0.9-0.6c-0.4-5.3-0.1-10.6,1-15.8c1.3-6,2.4-12.1,3.1-18.2c0.3-2.5,1-4.8,2.3-7 c1.2-2.1,2.2-4.3,3.4-6.5c0.9-1.7,1.1-3.4,0.4-5.2c-0.3-0.7-0.5-1.4-0.9-2.1c-1-2-2-3.9-2.9-5.9c-0.5-1-0.4-1.1,0.7-1.1 c1.6,0,1.6,0,1.7-1.6c0-0.2,0-0.4,0-0.7c0-0.7-0.3-1.1-1-1c-0.5,0-1,0-1.5,0c-0.7,0-0.9-0.3-0.7-1c0.6-2.3,2.8-4.1,5.1-4.4 c2.2-0.3,4.4,0,6.6,0.4c0.6,0.1,1,0,1.3-0.6c0.4-1,0.8-2,1.3-3c0.2-0.4,0.2-0.8-0.1-1.1C66.6,13.2,63.1,9.4,58.4,7 c-0.5-0.3-0.8-0.6-0.9-1.1c-0.3-1.4-0.7-2.8-1.3-4.2C55.9,1,55.6,0.4,54.8,0z'/%3E%3C/g%3E%3C/svg%3E");
        top: 81px;
        right: 92px;
        left: auto;
      }

      @media (min-width: $desktop) {
        content: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' width='70' height='97' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 70 97' style='enable-background:new 0 0 70 97;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M54.8,0c-0.1,0-0.3,0-0.4,0c-0.7,0.4-1.1,0.9-1.4,1.6c-0.6,1.1-1,2.3-1.3,3.4c-0.2,0.8-0.7,1.2-1.5,1.3 c-2.3,0.4-4,1.7-5.2,3.7c-0.7,1.3-1.3,2.6-1.8,3.9c-1.4,3.7-2.5,7.5-3.8,11.2C38.7,27,38.6,27,36.7,27c-2.3,0-2.1-0.4-2.1,2.1 c0,0.8,0.2,1.2,1.1,1.2c0.3,0,0.7-0.1,0.8,0.2c0.1,0.3-0.2,0.5-0.4,0.7c-1.2,1.3-2.7,2-4.3,2.4c-1.9,0.5-3.8,0.9-5.7,1.5 c-4.7,1.6-9.1,3.8-12.6,7.6c-2.1,2.3-3.5,5-4.7,7.8C5,59.2,3.2,68.3,1.8,77.5c-0.6,4.3-1.1,8.6-1.5,13C0.2,92.7,0,94.8,0,97 c11.1,0,22.2,0,33.3,0c0.1-0.5-0.1-0.9-0.2-1.3c-0.7-1.8-2.1-2.7-3.8-3.1c-0.7-0.2-0.8-0.4-0.4-0.9c0.7-0.9,1.2-2,1.6-3.1 c1.6-4.8,2.3-9.8,3.1-14.8C34.2,70,35.1,66.4,37,63c1.5-2.5,3.3-4.6,5.6-6.4c0.8-0.6,0.9-0.6,1,0.4c0.1,0.7,0.1,1.4,0.2,2.2 c0.3,4.7,0.3,9.5-0.2,14.2c-0.3,3.7-0.5,7.4-0.2,11c0.4,4.3,1.2,8.4,2.2,12.6c4.4,0,8.9,0,13.3,0c-0.3-2.2-2.1-4-4.2-4.4 c-1.3-0.2-2.5-0.1-3.8,0.2c-0.6,0.1-0.8,0-0.9-0.6c-0.4-5.3-0.1-10.6,1-15.8c1.3-6,2.4-12.1,3.1-18.2c0.3-2.5,1-4.8,2.3-7 c1.2-2.1,2.2-4.3,3.4-6.5c0.9-1.7,1.1-3.4,0.4-5.2c-0.3-0.7-0.5-1.4-0.9-2.1c-1-2-2-3.9-2.9-5.9c-0.5-1-0.4-1.1,0.7-1.1 c1.6,0,1.6,0,1.7-1.6c0-0.2,0-0.4,0-0.7c0-0.7-0.3-1.1-1-1c-0.5,0-1,0-1.5,0c-0.7,0-0.9-0.3-0.7-1c0.6-2.3,2.8-4.1,5.1-4.4 c2.2-0.3,4.4,0,6.6,0.4c0.6,0.1,1,0,1.3-0.6c0.4-1,0.8-2,1.3-3c0.2-0.4,0.2-0.8-0.1-1.1C66.6,13.2,63.1,9.4,58.4,7 c-0.5-0.3-0.8-0.6-0.9-1.1c-0.3-1.4-0.7-2.8-1.3-4.2C55.9,1,55.6,0.4,54.8,0z'/%3E%3C/g%3E%3C/svg%3E");
        top: 41px;
        right: auto;
        left: 67px;
      }
    }
  }

  &--weight-gain {
    @media (min-width: $tablet) {
      padding-right: 315px;
    }

    @media (min-width: $desktop) {
      padding-right: 52px;
    }

    &::before {
      @media (min-width: $tablet) {
        right: 60px;
        top: 91px;
      }

      @media (min-width: $desktop) {
        left: 52px;
        right: auto;
        top: 47px;
      }
    }

    &::after {
      content: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' width='67' height='28' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 134 56' style='enable-background:new 0 0 134 56;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M123.1,5.8c1.2-1.9,2.7-3.4,4.5-4.6c1-0.7,1.6-0.7,2.2,0.6c0.8,1.9,1.5,3.9,0.9,6c-0.2,0.8-0.1,1.4,0.4,2.1 c0.6,0.8,1.1,1.6,1.6,2.3c1.3,1.9,1.8,3.9,0.9,6.2c-0.4,1-0.4,2-0.2,3.1c0.2,1,0.2,2,0,3c-0.3,1.6-1.1,2.7-2.7,3.2 c-1.3,0.3-2.4,0.9-3.2,2c-0.2,0.3-0.5,0.5-0.9,0.5c-1.2,0.2-4.2-2.5-4.2-3.7c0-0.2,0-0.4,0-0.6c0.1-3.6-0.1-3.9-3.4-5.4 c-0.7-0.3-1.3-0.6-1.8-1.2c-0.6-0.8-1.4-0.7-2.3-0.4c-0.8,0.4-1.4,0.9-1.3,1.9c0.3,2.4,0.4,4.8,0.3,7.3c0,0.3,0.1,0.6,0.2,0.8 c3.1,4.5,4.3,9.8,5.8,14.9c1.2,3.9,3.4,6,7.4,6.3c0.6,0,1.3,0.2,1.9,0.3c1.8,0.3,2.9,1.5,3.4,3.2c0.7,2.1,0.3,2.6-1.8,2.6 c-2.2,0-4.3,0-6.5,0c-0.9,0-1.6-0.2-2.3-0.8c-1-1-2.2-1.4-3.4-2c-1.3-0.6-2.6-1.3-3.4-2.6c-1.1-1.7-2.6-3.1-4-4.5 c-2.8-2.9-5.8-5.7-8.4-8.7c-1.9-2.2-3.2-4.6-3.2-7.6c0-0.9-0.2-1.3-1.2-0.9c-0.3,0.2-0.7,0.3-1,0.3c-2.8,0-4.2,1.7-5.2,4.2 c-0.9,2.1-2.1,4.1-3.2,6.2C88.5,40.9,88,42.4,88,44c0,2.4,0.6,3.2,2.8,4c1.4,0.5,2.7,1,3.4,2.4c0.8,1.6,0.6,2-1.1,2.1 c-2.3,0-4.5,0-6.8,0c-0.9,0-1.5-0.3-1.9-1.1c-0.6-1-1.2-2-1.8-3c-1-1.7-1.4-3.4-0.7-5.4c0.6-1.7,0.3-3.6,0.1-5.3 c-0.4-2.6,0-4.9,1.7-7c0.6-0.7,0.6-1-0.4-1.2c-4.1-0.8-8-2.3-11.8-4.1c0,0-0.1,0-0.1-0.1c-3.2-1.2-3.8-1-4.7,2.3 c-0.8,2.8-1.6,5.6-2.2,8.5c-0.7,3.2,0.1,6.2,1.1,9.2c0.4,1.2,1.6,1.1,2.5,1.4c2,0.6,3.7,1.4,4.5,3.5c0.7,1.6,0.6,1.8-1.1,1.8 c-1.7,0-3.4-0.1-5.2,0c-1.6,0.1-2.8-0.5-4.2-1.4c-4.8-3.2-6.2-8.1-6.6-13.4c-0.2-3.3-2-5.9-4.1-8.4c-0.4-0.5-0.8-0.7-1.4-0.3 c-2.1,1.3-4.5,2.1-6.7,3c-4.8,1.8-9,4.6-12.2,8.8c-1.2,1.5-1.9,3.2-2.2,5.1c-0.3,1.8,0.2,2.6,2,3.1c1.9,0.6,2.7,1.5,2.9,3.4 c0.1,0.8-0.2,1.2-1,1.2c-2.7,0-5.4,0-8.1,0c-0.6,0-1-0.4-1.3-0.8c-1.3-1.6-1.9-3.5-1.9-5.5c-0.1-3.5,0.3-6.9,0.9-10.3 c0.4-2.1,1.4-3.8,3.4-4.8c5.9-2.8,9-8.1,11.8-13.6c0.6-1.1,0.1-1.3-0.9-1.2c-2.9,0.3-5.4,1.6-7.7,3.2c-3,2.1-5.7,4.6-8.3,7.1 c-2.9,2.7-6.2,4.6-10.3,4.9C3.1,32.5-0.3,28.4,0,21.8c0.1-2.3,0.9-4.4,2.4-6.1c1.2-1.3,2.6-2,4.5-1.5c1.5,0.4,1.9,1.2,1.3,2.7 c-0.3,0.6-0.7,1.1-1,1.7c-0.4,0.6-0.8,1.3-1,2c-1.1,3,0.4,5.1,3.5,5.4c3.3,0.3,6-1.1,8.5-3.1c3-2.4,5.7-5.2,8-8.3 c3.7-4.8,8.5-7.3,14.4-8.1c2.3-0.3,4.3-1.3,6.5-1.9c4.1-1.2,8.3-1.9,12.7-1.8c2,0.1,3.9-0.3,5.8-1.1c4.9-2,10-2,15.1-1 c4,0.8,8,1.8,11.9,2.8c2.2,0.5,4.7,0.3,7-0.2c4.4-1,8.9-1.9,13.4-2c3-0.1,5.9,0.4,8.6,1.7C123.6,3.9,123.6,3.9,123.1,5.8z'/%3E%3C/g%3E%3C/svg%3E");
      display: block;
      position: absolute;
      top: 35px;
      left: 13px;

      @media (min-width: $tablet) {
        content: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' width='268' height='112' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 134 56' style='enable-background:new 0 0 134 56;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M123.1,5.8c1.2-1.9,2.7-3.4,4.5-4.6c1-0.7,1.6-0.7,2.2,0.6c0.8,1.9,1.5,3.9,0.9,6c-0.2,0.8-0.1,1.4,0.4,2.1 c0.6,0.8,1.1,1.6,1.6,2.3c1.3,1.9,1.8,3.9,0.9,6.2c-0.4,1-0.4,2-0.2,3.1c0.2,1,0.2,2,0,3c-0.3,1.6-1.1,2.7-2.7,3.2 c-1.3,0.3-2.4,0.9-3.2,2c-0.2,0.3-0.5,0.5-0.9,0.5c-1.2,0.2-4.2-2.5-4.2-3.7c0-0.2,0-0.4,0-0.6c0.1-3.6-0.1-3.9-3.4-5.4 c-0.7-0.3-1.3-0.6-1.8-1.2c-0.6-0.8-1.4-0.7-2.3-0.4c-0.8,0.4-1.4,0.9-1.3,1.9c0.3,2.4,0.4,4.8,0.3,7.3c0,0.3,0.1,0.6,0.2,0.8 c3.1,4.5,4.3,9.8,5.8,14.9c1.2,3.9,3.4,6,7.4,6.3c0.6,0,1.3,0.2,1.9,0.3c1.8,0.3,2.9,1.5,3.4,3.2c0.7,2.1,0.3,2.6-1.8,2.6 c-2.2,0-4.3,0-6.5,0c-0.9,0-1.6-0.2-2.3-0.8c-1-1-2.2-1.4-3.4-2c-1.3-0.6-2.6-1.3-3.4-2.6c-1.1-1.7-2.6-3.1-4-4.5 c-2.8-2.9-5.8-5.7-8.4-8.7c-1.9-2.2-3.2-4.6-3.2-7.6c0-0.9-0.2-1.3-1.2-0.9c-0.3,0.2-0.7,0.3-1,0.3c-2.8,0-4.2,1.7-5.2,4.2 c-0.9,2.1-2.1,4.1-3.2,6.2C88.5,40.9,88,42.4,88,44c0,2.4,0.6,3.2,2.8,4c1.4,0.5,2.7,1,3.4,2.4c0.8,1.6,0.6,2-1.1,2.1 c-2.3,0-4.5,0-6.8,0c-0.9,0-1.5-0.3-1.9-1.1c-0.6-1-1.2-2-1.8-3c-1-1.7-1.4-3.4-0.7-5.4c0.6-1.7,0.3-3.6,0.1-5.3 c-0.4-2.6,0-4.9,1.7-7c0.6-0.7,0.6-1-0.4-1.2c-4.1-0.8-8-2.3-11.8-4.1c0,0-0.1,0-0.1-0.1c-3.2-1.2-3.8-1-4.7,2.3 c-0.8,2.8-1.6,5.6-2.2,8.5c-0.7,3.2,0.1,6.2,1.1,9.2c0.4,1.2,1.6,1.1,2.5,1.4c2,0.6,3.7,1.4,4.5,3.5c0.7,1.6,0.6,1.8-1.1,1.8 c-1.7,0-3.4-0.1-5.2,0c-1.6,0.1-2.8-0.5-4.2-1.4c-4.8-3.2-6.2-8.1-6.6-13.4c-0.2-3.3-2-5.9-4.1-8.4c-0.4-0.5-0.8-0.7-1.4-0.3 c-2.1,1.3-4.5,2.1-6.7,3c-4.8,1.8-9,4.6-12.2,8.8c-1.2,1.5-1.9,3.2-2.2,5.1c-0.3,1.8,0.2,2.6,2,3.1c1.9,0.6,2.7,1.5,2.9,3.4 c0.1,0.8-0.2,1.2-1,1.2c-2.7,0-5.4,0-8.1,0c-0.6,0-1-0.4-1.3-0.8c-1.3-1.6-1.9-3.5-1.9-5.5c-0.1-3.5,0.3-6.9,0.9-10.3 c0.4-2.1,1.4-3.8,3.4-4.8c5.9-2.8,9-8.1,11.8-13.6c0.6-1.1,0.1-1.3-0.9-1.2c-2.9,0.3-5.4,1.6-7.7,3.2c-3,2.1-5.7,4.6-8.3,7.1 c-2.9,2.7-6.2,4.6-10.3,4.9C3.1,32.5-0.3,28.4,0,21.8c0.1-2.3,0.9-4.4,2.4-6.1c1.2-1.3,2.6-2,4.5-1.5c1.5,0.4,1.9,1.2,1.3,2.7 c-0.3,0.6-0.7,1.1-1,1.7c-0.4,0.6-0.8,1.3-1,2c-1.1,3,0.4,5.1,3.5,5.4c3.3,0.3,6-1.1,8.5-3.1c3-2.4,5.7-5.2,8-8.3 c3.7-4.8,8.5-7.3,14.4-8.1c2.3-0.3,4.3-1.3,6.5-1.9c4.1-1.2,8.3-1.9,12.7-1.8c2,0.1,3.9-0.3,5.8-1.1c4.9-2,10-2,15.1-1 c4,0.8,8,1.8,11.9,2.8c2.2,0.5,4.7,0.3,7-0.2c4.4-1,8.9-1.9,13.4-2c3-0.1,5.9,0.4,8.6,1.7C123.6,3.9,123.6,3.9,123.1,5.8z'/%3E%3C/g%3E%3C/svg%3E");
        right: 28px;
        top: 135px;
        left: auto;
      }

      @media (min-width: $desktop) {
        content: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' width='134' height='56' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 134 56' style='enable-background:new 0 0 134 56;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M123.1,5.8c1.2-1.9,2.7-3.4,4.5-4.6c1-0.7,1.6-0.7,2.2,0.6c0.8,1.9,1.5,3.9,0.9,6c-0.2,0.8-0.1,1.4,0.4,2.1 c0.6,0.8,1.1,1.6,1.6,2.3c1.3,1.9,1.8,3.9,0.9,6.2c-0.4,1-0.4,2-0.2,3.1c0.2,1,0.2,2,0,3c-0.3,1.6-1.1,2.7-2.7,3.2 c-1.3,0.3-2.4,0.9-3.2,2c-0.2,0.3-0.5,0.5-0.9,0.5c-1.2,0.2-4.2-2.5-4.2-3.7c0-0.2,0-0.4,0-0.6c0.1-3.6-0.1-3.9-3.4-5.4 c-0.7-0.3-1.3-0.6-1.8-1.2c-0.6-0.8-1.4-0.7-2.3-0.4c-0.8,0.4-1.4,0.9-1.3,1.9c0.3,2.4,0.4,4.8,0.3,7.3c0,0.3,0.1,0.6,0.2,0.8 c3.1,4.5,4.3,9.8,5.8,14.9c1.2,3.9,3.4,6,7.4,6.3c0.6,0,1.3,0.2,1.9,0.3c1.8,0.3,2.9,1.5,3.4,3.2c0.7,2.1,0.3,2.6-1.8,2.6 c-2.2,0-4.3,0-6.5,0c-0.9,0-1.6-0.2-2.3-0.8c-1-1-2.2-1.4-3.4-2c-1.3-0.6-2.6-1.3-3.4-2.6c-1.1-1.7-2.6-3.1-4-4.5 c-2.8-2.9-5.8-5.7-8.4-8.7c-1.9-2.2-3.2-4.6-3.2-7.6c0-0.9-0.2-1.3-1.2-0.9c-0.3,0.2-0.7,0.3-1,0.3c-2.8,0-4.2,1.7-5.2,4.2 c-0.9,2.1-2.1,4.1-3.2,6.2C88.5,40.9,88,42.4,88,44c0,2.4,0.6,3.2,2.8,4c1.4,0.5,2.7,1,3.4,2.4c0.8,1.6,0.6,2-1.1,2.1 c-2.3,0-4.5,0-6.8,0c-0.9,0-1.5-0.3-1.9-1.1c-0.6-1-1.2-2-1.8-3c-1-1.7-1.4-3.4-0.7-5.4c0.6-1.7,0.3-3.6,0.1-5.3 c-0.4-2.6,0-4.9,1.7-7c0.6-0.7,0.6-1-0.4-1.2c-4.1-0.8-8-2.3-11.8-4.1c0,0-0.1,0-0.1-0.1c-3.2-1.2-3.8-1-4.7,2.3 c-0.8,2.8-1.6,5.6-2.2,8.5c-0.7,3.2,0.1,6.2,1.1,9.2c0.4,1.2,1.6,1.1,2.5,1.4c2,0.6,3.7,1.4,4.5,3.5c0.7,1.6,0.6,1.8-1.1,1.8 c-1.7,0-3.4-0.1-5.2,0c-1.6,0.1-2.8-0.5-4.2-1.4c-4.8-3.2-6.2-8.1-6.6-13.4c-0.2-3.3-2-5.9-4.1-8.4c-0.4-0.5-0.8-0.7-1.4-0.3 c-2.1,1.3-4.5,2.1-6.7,3c-4.8,1.8-9,4.6-12.2,8.8c-1.2,1.5-1.9,3.2-2.2,5.1c-0.3,1.8,0.2,2.6,2,3.1c1.9,0.6,2.7,1.5,2.9,3.4 c0.1,0.8-0.2,1.2-1,1.2c-2.7,0-5.4,0-8.1,0c-0.6,0-1-0.4-1.3-0.8c-1.3-1.6-1.9-3.5-1.9-5.5c-0.1-3.5,0.3-6.9,0.9-10.3 c0.4-2.1,1.4-3.8,3.4-4.8c5.9-2.8,9-8.1,11.8-13.6c0.6-1.1,0.1-1.3-0.9-1.2c-2.9,0.3-5.4,1.6-7.7,3.2c-3,2.1-5.7,4.6-8.3,7.1 c-2.9,2.7-6.2,4.6-10.3,4.9C3.1,32.5-0.3,28.4,0,21.8c0.1-2.3,0.9-4.4,2.4-6.1c1.2-1.3,2.6-2,4.5-1.5c1.5,0.4,1.9,1.2,1.3,2.7 c-0.3,0.6-0.7,1.1-1,1.7c-0.4,0.6-0.8,1.3-1,2c-1.1,3,0.4,5.1,3.5,5.4c3.3,0.3,6-1.1,8.5-3.1c3-2.4,5.7-5.2,8-8.3 c3.7-4.8,8.5-7.3,14.4-8.1c2.3-0.3,4.3-1.3,6.5-1.9c4.1-1.2,8.3-1.9,12.7-1.8c2,0.1,3.9-0.3,5.8-1.1c4.9-2,10-2,15.1-1 c4,0.8,8,1.8,11.9,2.8c2.2,0.5,4.7,0.3,7-0.2c4.4-1,8.9-1.9,13.4-2c3-0.1,5.9,0.4,8.6,1.7C123.6,3.9,123.6,3.9,123.1,5.8z'/%3E%3C/g%3E%3C/svg%3E");
        right: auto;
        top: 67px;
        left: 33px;
      }
    }
  }
}

.program__item-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  color: $black;

  margin-top: 10px;
  margin-bottom: 29px;
  padding-left: 71px;
  //position: relative;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 24px;
    padding-left: 0;
  }

  @media (min-width: $desktop) {
    padding-left: 162px;
    margin-top: 25px;
    margin-bottom: 73px;
  }
}

.program__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;

  margin-top: 0;
  margin-bottom: 19px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.program__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  color: $black;

  position: relative;
  padding-right: 47px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    padding-right: 57px;
  }

  &::after {
    content: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' width='24' height='12' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24.2 11' style='enable-background:new 0 0 24.2 11;' xml:space='preserve'%3E%3Cpolygon points='17.6,0 24.2,5.5 17.6,11 17.6,6.6 0,6.6 0,4.4 17.6,4.4 '/%3E%3C/svg%3E");
    display: block;
    position: absolute;
    right: 8px;
    top: 3px;

    @media (min-width: $tablet) {
      top: -2px;
    }
  }

  &:hover,
  &:focus {
    &::after {
      content: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' width='32' height='12' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 32 11' style='enable-background:new 0 0 32 11;' xml:space='preserve'%3E%3Cpolygon points='25.4,0 32,5.5 25.4,11 25.4,6.6 0,6.6 0,4.4 25.4,4.4 '/%3E%3C/svg%3E");
      display: block;
      position: absolute;
      right: 0;
      top: 3px;

      @media (min-width: $tablet) {
        top: -2px;
      }
    }
  }

  &:active {
    opacity: 0.3;
  }
}
