.promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: inherit;
  background-position-x: center;
  padding-top: 27px;
  margin-bottom: 22px;

  @media (min-width: $tablet) {
    background-image: none;
  }
}

.promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  color: $white;

  margin-top: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    color: $black;
    text-align: start;
    padding-left: 87px;
    padding-right: 200px;
    margin-bottom: 40px;
  }
}

.promo__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  margin-top: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: start;
    padding-left: 87px;
    margin-bottom: 20px;
  }
}

.promo__link {
  @media (min-width: $tablet) {
    position: absolute;
    left: 87px;
    top: 230px;
  }
}
