.promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: inherit;
  background-position-x: center;
  padding-top: 27px;
  margin-bottom: 22px;
}

.promo__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  color: #FFFFFF;

  margin-top: 0;
  margin-bottom: 25px;
}

.promo__slogan {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 29px;
}

.promo__link {
  /*background-color: #68B738;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;*/
}
