.show-all__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 26px;
}

.show-all__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  color: #111111;

  margin-top: 23px;
  margin-bottom: 8px;
}

.show-all__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;

  margin-top: 0;
  margin-bottom: 21px;
}

.show-all__button {
  width: 100%;
  height: 40px;
}
