.show-all {}

.show-all__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 26px;
}

.show-all__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  color: #111111;

  margin-top: 23px;
  margin-bottom: 8px;
}

.show-all__description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  margin-top: 0;
  margin-bottom: 21px;
}

.show-all__button {}
