.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  border-bottom: 1px solid #E6E6E6;
}

.site-list__link {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;

  text-align: center;
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
}
