.site-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  @media (min-width: $tablet) {
    flex-direction: row;
    margin-top: 42px;
  }

  @media (min-width: $desktop) {
    margin-top: 72px;
  }

  &--main-page {
    .site-list__link {
      @media (min-width: $desktop) {
        color: $white;
      }
    }

    .site-list__item--active {
      @media (min-width: $desktop) {
        border-bottom: 2px solid $white;
      }
    }
  }
}

.site-list__item {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet) {
    border-bottom: none;
  }

  &--active {
    @media (min-width: $tablet) {
      padding-bottom: 6px;
      border-bottom: 2px solid $main-green;
    }

    @media (min-width: $desktop) {
      padding-bottom: 9px;
    }
  }

  &:first-child {
    border-top: 1px solid #e6e6e6;

    @media (min-width: $tablet) {
      border-top: none;
    }
  }

  &:not(:last-child) {
    @media (min-width: $tablet) {
      margin-right: 35px;
    }

    @media (min-width: $desktop) {
      margin-right: 32px;
    }
  }
}

.site-list__link {
  font-family: "Oswald Medium", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;

  text-align: center;
  display: block;
  padding-top: 23px;
  padding-bottom: 22px;

  @media (min-width: $tablet) {
    font-family: "Oswald", "Arial", sans-serif;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-family: "Oswald Medium", "Arial", sans-serif;
    font-weight: 500;
    letter-spacing: 0.6px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
