.slider {
  display: flex;
  justify-content: space-around;
}

.slider__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  color: $black;
}
