.social__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
}

.social__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: 36px;
  }
}

.social__link {
  display: block;
  cursor: pointer;

  path,
  circle {
    fill: #666666;
  }

  &:hover,
  &:focus {
    path,
    circle {
      fill: $main-green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
