.social__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-right: 12px;

  @media (min-width: $tablet) {
    margin-right: 0;
    margin-left: 18px;
  }
}

.social__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: 38px;

    @media (min-width: $tablet) {
      margin-right: 28px;
    }
  }
}

.social__link {
  display: block;
  cursor: pointer;

  path,
  circle {
    fill: #666666;
  }

  &:hover,
  &:focus {
    path,
    circle {
      fill: $main-green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon {
  &--vk {
    @media (min-width: $tablet) {
      width: 30px;
      height: 22px;
    }
  }

  &--instagram {
    @media (min-width: $tablet) {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    @media (min-width: $tablet) {
      width: 15px;
      height: 29px;
    }
  }
}
