.page__body {
  font-family: "Oswald", "Arial", sans-serif;
  min-width: 320px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  position: relative;

  @media (min-width: $tablet) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop) {
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}
